body{
    background-color:#98fb98;
}
h1{
    text-align: center;
    color:darkslategrey
}
h2{
    color:darkslategrey;
}
h3{
    color:darkslategrey;
}
h4{
    color:darkslategrey;
}
h5{
    color:darkslategrey;
}
h6{
    color:darkslategrey;
}
p{
    color:darkslategrey;
}